{% load static %} {% csrf_token %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'game/css/new_game.css' %}">
    </head>
    <body>
        <script src="{% static 'game/move.js' %}"></script>
        <title>Game</title>
        <h1>Voici le jeu dont je ne connais pas le nom!</h1>
        <h3>{{players.0.name}} VS {{players.1.name}}</h3>

        
        <table style="margin-left: auto; margin-right: auto">

        </table>

        <button id="bdown" name="bdown">Move Down</button>
        <button id="bup" name="bup">Move Up</button>
        <button id="bright" name="bright">Move Right</button>
        <button id="bleft" name="bleft">Move Left</button>
    </body>
</html>