h1{
    color: rebeccapurple;
    font-size: 200%
}
h3{
    color: darkcyan
}

.couleur1{
    height: 50px;
    width: 50px;
    background: blue;
    padding: 1px;
}
.couleur2{
    height: 50px;
    width: 50px;
    background: red;
    padding: 1px;
}
.couleur3{
    height: 50px;
    width: 50px;
    background: gray;
    padding: 1px;
}
body{
    background-image: url("./pictures/background.png");
    background-repeat: no-repeat;
    margin-left: auto;
    text-align: center;
}
td{
    padding: 1px;
    text-align: center
}

#wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
}
  
#controls {
    display: inline-grid;
    grid-column-gap: 0;
    align-self: end;
}
  
.movements_control {
    border: solid 1px black;  
    margin: 0;
    padding: 0;
}
  
#bup {
    grid-column-start: 2;
}
  
#bleft {
    grid-column-start: 1;
}
  
#bdown {
    grid-column-start: 2;
}
  
#bright {
    grid-column-start: 3;
}
img{
    width: 25px
}